@{
    ViewData["Title"] = "Examen P1";
}

<div class="text-center">
    <h1 class="display-4">Mateo Jijon Examen Progreso 1</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Fecha 25 Octubre</a>.</p>
</div>
